{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/saber-detail.css' %}"
/>
<script defer src="{% static 'js/saber-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="saber-container">
  <div class="saber-img">
    <img 
      class="saber-deets-icon"
      src="{% static 'images/vaderssabers.jpg' %}" 
      alt="A default saber"
    >
  </div>
  <div class="saber-details">
    <h1>{{ saber.owner }}</h1>
    {% if saber.age > 0 %}
      <h2>{{ saber.blades }} bladed {{ saber.color }} saber.</h2>
    {% else %}
      <h2>A {{ saber.color }} saber.</h2>
    {% endif %}
    <p>{{ saber.hilt }}</p>
    <div class="saber-actions">
      <a href="{% url 'sabers_update' saber.id %}" class="btn warn">Edit</a>
      <a href="{% url 'sabers_delete' saber.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="repairings-crystal-container">
  <section class="repairings">
    <div class="subsection-title">
      <h2>Repairs</h2>
      <img 
        src="{% static 'images/LightSaberConstruction.jpg' %}" 
        alt="Saber Construction"
      />
    </div>
    <h3>Add a repair job</h3>
    <form
    action="{% url 'add_repairing' saber.id %}"
      method="post" 
      class="subsection-content"
    >
      {% if saber.fixed_for_today %}
        <p class="fixed">{{saber.owner}}'s saber has been adequetly fixed today!</p>
      {% else %}
        <p class="unfixed">{{saber.owner}}'s saber might need repairs!</p>
      {% endif %}
      {% csrf_token %}
      {{ repairing_form.as_p }}
      <button type="submit" class="btn submit">Repair</button>
    </form>
    <h3>Past Repair jobs</h3>
    {% if saber.repairing_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Part</th></tr>
      </thead>
      <tbody>
        {% for repairing in saber.repairing_set.all %}
          <tr>
            <td>{{repairing.date}}</td>
            <td>{{repairing.get_part_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h4 class="subsection-content">{{saber.owner}}'s saber has never been repaired 😟</h4>
    {% endif %}
  </section>
  <section class="crystals">
    <div class="subsection-title">
      <h2>Crystals</h2>
      <img src="{% static 'images/kybercrystal.png' %}" alt="A bunch of Crystals" />
    </div>
    <h3>{{ saber.owner }}'s Crystals</h3>
    <div class="subsection-content">
      {% if saber.crystals.count %}
        {% for crystal in saber.crystals.all %}
          <div class="crystal-container">
            <div 
              class="color-block"
              style="background-color: {{ crystal.color }}"
            ></div>
            <a href="{% url 'crystals_detail' crystal.id %}">
              <p>A {{ crystal.color }} kyber crystal from {{ crystal.type }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-crystals">{{saber.owner}} doesn't have any crystals 😞</p>
      {% endif %}
    </div>
    <h3>Available Crystals</h3>
    <div class="subsection-content">
      {% comment %} We'll display available toys here {% endcomment %}
      {% if crystals.count %}
        {% for crystal in crystals.all %}
          <div class="crystal-container">
            <div 
              class="color-block"
              style="background-color: {{ crystal.color }}"
            ></div>
            <a href="{% url 'crystals_detail' crystal.id %}">
              <p>A {{ crystal.color }} kyber crystal from {{ crystal.type }}</p>
            </a>
            <form action="{% url 'assoc_crystal' saber.id crystal.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give Crystal</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-crystals">
          {{saber.owner}} already has all the available crystals 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}